body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 200px;
  width: 400px;
  border: 1px solid transparent;
}
h1 {
  font-size: 2em;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(249, 119, 6, .9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}
ul {
  list-style: none;
  text-align: left;
}

#ektajpuMainPopup {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  background-image: url("img/bak-icons-800w.jpg");
  text-align: center;
}

#footer {
background: rgba(255, 255, 255, .4);
padding: 15px;
color: #031035;
}
